* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: "Noto Sans";
}

.levelup {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 110vh;
	gap: 5vh;
	text-align: center;
}

@media screen and (max-width: 450px) {
	.navatags > a {
		display: none;
	}

	nav {
		padding: 0px 20px 0px 20px;
	}

	nav > button {
		width: 100px;
		height: 50px;
		font-size: 14px;
	}

	.hero {
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 60vh;
	}

	.hero h1 {
		font-size: 2.5rem;
	}

	.hero h3 {
		font-size: 1rem;
	}

	.expertise {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 250vh;
		width: 100%;
	}

	.expertise > div {
		flex-direction: column;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.expertise h1 {
		font-size: 2rem;
		text-align: center;
	}

	.expertise > div > h1 {
		display: block;
	}

	.expertise > h1 {
		display: none;
	}
	.expertiseitem {
		max-width: 100%;
		height: 33vh;
		justify-content: center;
	}

	.whysection {
		height: 200vh;
		justify-content: flex-start;
		align-items: center;
	}

	.whyinfo {
		text-align: center;
		height: 25vh;
	}

	.whyinfo > div {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		width: 100%;
	}

	.whyinfo h2 {
		font-size: 1rem;
	}

	.whyinfo h5 {
		width: 60%;
		font-size: 0.7rem;
	}

	.whyinfo > div {
		flex-direction: column;
	}
}
