* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: "Noto Sans";
}

.navlogo {
	width: 150px;
	height: 150px;
}

.navlogo > img {
	width: 100%;
	height: 100%;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0% 3% 0% 3%;
}

nav > a,
.levelup > a {
	background-color: #64a5f9;
	border: black 0px;
	width: 185px;
	height: 50px;
	border-radius: 15px;
	font-weight: 500;
	font-size: 1rem;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
}

.navatags {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 100px;
}

.navatags > a {
	font-size: larger;
	text-decoration: none;
	color: black;
	font-weight: 600;
}

.hero {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	gap: 5vh;
	height: 70vh;
}

.hero h1 {
	font-size: 5em;
	background: linear-gradient(180deg, #21dadb, #5e7dea);
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.hero h3 {
	font-size: 2em;
	background: linear-gradient(180deg, #21dadb, #5e7dea);
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.hero > div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 5vh;
	height: 60vh;
}

.hero > svg {
	width: 50px;
	height: 50px;
	opacity: 1;
}

.expertise {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 20vh;
	height: 100vh;
}

.expertise > h1 {
	font-size: 5rem;
}

.whysection > h1 {
	font-size: 5rem;
	margin-bottom: 15vh;
}

.expertise > div {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: first baseline;
	gap: 25px;
}

.expertise > div > h1 {
	display: none;
}

.expertiseitem {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	gap: 25px;
	max-width: 12vw;
	min-width: 12vw;
}

.expertiseitem > svg {
	width: 60px;
	height: 60px;
}

.expertiseitem > h5 {
	font-size: 1rem;
	font-weight: 400;
}

.whysection {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 300vh;
}

.whysection > div {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5vw;
}

.whyimg,
.whyinfo {
	width: 47vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

.whyimg > img {
	max-width: 80%;
	box-shadow: rgba(77, 148, 230, 0.4) -15px 15px,
		rgba(77, 148, 230, 0.3) -30px 30px, rgba(77, 148, 230, 0.05) -45px 45px;
}

.whyinfo {
	flex-direction: column;
	text-align: center;
	gap: 10px;
}

.whyinfo > div {
	width: 25vw;
	display: flex;
	flex-direction: column;
	gap: 25px;
}

.levelup {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 110vh;
	gap: 5vh;
	text-align: center;
}

@media screen and (max-width: 450px) {
	.navatags > a {
		display: none;
	}

	nav {
		padding: 0px 20px 0px 20px;
	}

	nav > button {
		width: 100px;
		height: 50px;
		font-size: 14px;
	}

	.hero {
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 60vh;
	}

	.hero h1 {
		font-size: 2.5rem;
	}

	.hero h3 {
		font-size: 1rem;
	}

	.expertise {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 250vh;
		width: 100%;
	}

	.expertise > div {
		flex-direction: column;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.expertise h1 {
		font-size: 2rem;
		text-align: center;
	}

	.expertise > div > h1 {
		display: block;
	}

	.expertise > h1
	{
		display: none;
	}
	.expertiseitem {
		max-width: 100%;
		height: 33vh;
		justify-content: center;
	}

	.whysection {
		height: 200vh;
		justify-content: flex-start;
		align-items: center;
	}

	.whyinfo {
		text-align: center;
		height: 25vh;
	}

	.whyinfo > div {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		width: 100%;
	}

	.whyinfo h2 {
		font-size: 1rem;
	}

	.whyinfo h5 {
		width: 60%;
		font-size: 0.7rem;
	}

	.whyinfo > div {
		flex-direction: column;
	}
}
